<div style = "background-color: gray; color: white; height: 100%; border-bottom : 3px solid white;">
<CENTER> <br><span style = "display: table-cell; vertical-align: middle"><h1><a href = "/" id = "title"> 지능형 WEB </a></h1></span></CENTER> </div>
