<form name="frm" method = "post">
<input type="hidden" name="checked" value=0>
<%- userview %>
<table>
    <thead>
          <tr>
            <%- dbname %>
          </tr>
   </thead>

    <tbody>
        <%- dbdata %>
    </tbody>
</table>
    <%- fault_list %>
</form>
