.faultlist table{
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}


.faultlist table td, th{
  padding: 7px 15px;
}


body{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.add{
  color:black;
  position:relative;
  height:25px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

a
{
  text-decoration:none;
  color:inherit;
}

.userlist table{
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #ccc;
  text-align: center;
}

.userlist table tr{
  border-bottom: 1px solid #ccc;
}
.userlist table td, th{
  padding: 7px 15px;
}
.userlist table thead tr{
  background-color: #F5F5F5;
}

.userlist table tbody td+td{
  text-align: center;
}
