
.button3{
  font-family: 'Open Sans', sans-serif;
  background:#gray;
  color:white;
  border:none;
  position:relative;
  height:35px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius:20px;
}
.button3:hover{
  background:#fff;
  color:black;
}

.searchbutton {
  background:black;
  color:white;
  border:none;
  position:relative;
  height:25px;
  font-size:1.0em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius:10px;
}

.userlist table{
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #ccc;
  text-align: center;
}

.userlist table tr{
  border-bottom: 1px solid #ccc;
}
.userlist table td, th{
  padding: 7px 15px;
}
.userlist table thead tr{
  background-color: #F5F5F5;
}

.userlist tr:hover td:first-child{
  text-decoration: underline;
  color : red;
}

#pagenum:hover{
  color : red;
  font-size: 25px;
}
/*
table tbody tr:nth-child(odd){
  background-color: #F4FFFF;
} */
.userlist table tbody td+td{
  text-align: center;
}
body{
  color:#0C2E2B;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
a{
  text-decoration:none;
  color:inherit;
}


.pagination{
  text-align: center;
  font-size: 20px;
}

 .countbox {
  float:left;
}
 .searchbox {
  display:inline-block;
  float :right;
  margin-left:10px;
}


.faultlist table{
  width: 80%;
  border-collapse: collapse;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.faultlist table td, th{
  padding: 7px 15px;
}
